html, body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Times New Roman", "fangsong";
    caret-color: transparent;
}

.el-button {
    font-family: "Times New Roman", "fangsong";
}

.el-input .el-input__inner {
    font-family: "Times New Roman", "fangsong";
    caret-color: #cccccc;
    margin:0;
    color: #000000;
}

