<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.swimmingpool.Mapper.ConsumeMapper">
    <select id="getConsumeInfo" resultType="Map">
        select consume.CID,
        consume.CreateTime,
        consume.Consume_Save_Balance,
        consume.description,
        consume.currentBalance,
        user.UID,
        user.UNAME,
        card.Status,
        sys_user_login.UserName
        from consume,
        sys_user_login,
        user,card
        where user.UID = sys_user_login.UID
        and user.UID = consume.UID and card.CID = consume.CID
        <if test="uid!=null">
            and user.UID = #{uid}
        </if>
        <if test="endTime!=null">
            and CreateTime &lt; #{endTime}
        </if>
        <if test="startTime!=null">
            and CreateTime &gt; #{startTime}
        </if>
        <if test="cid!=null and cid !=''">
            and consume.CID = #{cid}
        </if>
        <if test="username!=null and username != ''">
            and UserName = #{username}
        </if>
        order by consume.CreateTime
    </select>
</mapper>