<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.swimmingpool.Mapper.UserMapper">
    <update id="updateUserInfo">
        update user
        <if test="uname!=null">
            set uname = #{uname}
        </if>
        <if test="uphone!=null">
            ,UPHONE=#{uphone}
        </if>
        <if test="uidentity!=null">
            ,UIDENTITY=#{uidentity}
        </if>
        <if test="uavatar!=null">
            ,UAVATAR=#{uavatar}
        </if>
        <if test="uDescription!=null">
            ,UDescription=#{uDescription}
        </if>
        where UID = #{uid}
    </update>

</mapper>